body{
  margin:0;background:#0b0018;font-family:Arial;color:white;
}
.header{
  display:flex;justify-content:space-between;
  padding:20px;background:#14002b;
}
.logo{font-size:32px;font-weight:900;}
.logo span{color:#8a2be2;}
.links a{margin-left:20px;color:#fff;text-decoration:none;}
.layout{display:flex;margin-top:20px;}
.sidebar{
  width:250px;background:#120024;padding:20px;border-right:2px solid #2d0054;
}
.sidebar h3{margin-bottom:10px;}
.sidebar ul{list-style:none;padding:0;}
.sidebar li{padding:10px 0;border-bottom:1px solid #2d0054;}
.content{flex:1;padding:20px;}
.cards{display:flex;gap:20px;margin-top:20px;}
.card{
  background:#1a0033;padding:20px;border-radius:8px;
  width:200px;text-align:center;border:1px solid #2d0054;
}
.info{margin-top:40px;background:#1a0033;padding:20px;border-radius:8px;}
